<ion-content [fullscreen]="true">
  <p class="information-text">
    Downloader para musicas no YT.
  </p>
  <main class="container">
    <div class="form">
      <label for="url">URL</label>
      <input
        type="text"
        id="url"
        name="url"
        placeholder="Digite aqui a sua URL"
        [(ngModel)]="url">
        <button type="button" (click)="requestDownloadMusic()">Enviar</button>
    </div>
  </main>
  <footer class="footer">
    <p>Crated by <a href="#">Viniciu cristian</a></p>
  </footer>
</ion-content>
